* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #F5F7FA;
    color: #1A1A1A;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 20px;
    gap: 20px;
}

header {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 15px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;        
    width: auto;
    display: block;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 500;
}

.nav-links li a:hover {
    color: #0A2A43;
}

.cta-btn {
    background: #D4A017;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background: #fff;
    list-style: none;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    margin-top: 5px;
    z-index: 50;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-menu{
    /* display: block; */
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu li {
    padding: 8px;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition:  0.3s ease;
}

.dropdown-menu li a:hover {
    background: #F0F0F0;
    color: #c62828;
}

h1 {
    margin-bottom: 5px;
}

.location {
    color: #666;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    gap: 10px;
}

.gallery img {
    width: 33%;
    border-radius: 10px;
}

.highlights {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #f7f7f7;
    border-radius: 12px;
    margin-bottom: 25px;
}

.highlights div {
    text-align: center;
    flex: 1;
}

.highlights div strong {
    font-size: 18px;
    color: #0d6efd;
}

/* Amenities */
.amenities {
    margin-bottom: 20px;
}

.amenities span {
    display: inline-block;
    background: #e7f1ff;
    padding: 10px 15px;
    margin: 6px;
    border-radius: 25px;
    font-size: 14px;
}

/* Map */
iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
}

/* Enquiry Form */
.enquiry-form input,
.enquiry-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.enquiry-form button {
    background: #0d6efd;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enquiry-form button:hover {
    background: #004fbe;
}

footer {
    background: #0A2A43;
    color: #fff;
    padding: 40px 0;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}