* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #F5F7FA;
    color: #1A1A1A;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 15px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;        
    width: auto;
    display: block;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 500;
}

.nav-links li a:hover {
    color: #0A2A43;
}

.cta-btn {
    background: #D4A017;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background: #fff;
    list-style: none;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    margin-top: 5px;
    z-index: 50;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-menu{
    /* display: block; */
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu li {
    padding: 8px;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition:  0.3s ease;
}

.dropdown-menu li a:hover {
    background: #F0F0F0;
    color: #c62828;
}



footer {
    background: #0A2A43;
    color: #fff;
    padding: 40px 0;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}